openapi: 3.0.3

info:
  title: Archid Flow Server V4 API
  version: 1.0.0
  description: >
    Professional REST API documentation for Archid Flow IoT backend.
    This backend supports React Native, React Web, MongoDB, and MQTT-based IoT architecture.

servers:
  - url: https://api.archidtech.in
    description: Utho cloud / production API server
  - url: http://localhost:4000
    description: Local development server

tags:
  - name: Health
    description: Server health and status APIs
  - name: Auth
    description: Authentication APIs for signup, login, and current user
  - name: Profile
    description: Logged-in user profile APIs
  - name: Users
    description: Super admin user management APIs
  - name: Companies
    description: Company/customer organization management APIs
  - name: Sites
    description: Customer site/location management APIs

paths:
  /health:
    get:
      tags:
        - Health
      summary: Check server health
      description: Returns server status, environment, API version, and timestamp.
      responses:
        "200":
          description: Server is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /api/v1/auth/signup:
    post:
      tags:
        - Auth
      summary: Register a new customer admin
      description: >
        Creates a new customer admin account. In Archid Flow V4, the default signup user
        is a customer admin, meaning the user can purchase, claim, own, manage, and share IoT devices.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignupRequest"
            example:
              name: Suresh
              mobile: "9962577674"
              email: suresh@example.com
              password: "123456"
              confirmPassword: "123456"
      responses:
        "201":
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthUserResponse"
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: User already exists with this mobile number or email
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/auth/login:
    post:
      tags:
        - Auth
      summary: Login user
      description: Login using email or mobile number and password.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
            examples:
              loginWithEmail:
                summary: Login using email
                value:
                  identifier: suresh@example.com
                  password: "123456"
              loginWithMobile:
                summary: Login using mobile number
                value:
                  identifier: "9962577674"
                  password: "123456"
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: User account is inactive or blocked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/auth/me:
    get:
      tags:
        - Auth
      summary: Get current logged-in user
      description: Returns the current user based on the JWT Bearer token.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current user fetched successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthUserResponse"
        "401":
          description: Unauthorized or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: User account is inactive or blocked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/profile:
    get:
      tags:
        - Profile
      summary: Get logged-in user profile
      description: Returns the profile of the currently logged-in user.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Profile fetched successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProfileResponse"
        "401":
          description: Unauthorized or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    patch:
      tags:
        - Profile
      summary: Update logged-in user profile
      description: >
        Updates profile details for the currently logged-in user.
        Restricted fields like password, role, accountStatus, isVerified, verifiedBy, and verifiedAt cannot be updated from this endpoint.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProfileUpdateRequest"
            example:
              name: Suresh Babu
              firstName: Suresh
              lastName: Babu
              email: suresh@example.com
              mobile: "9962577674"
              phone:
                countryCode: "+91"
                number: "9962577674"
              address:
                addressLine1: Anna Nagar
                addressLine2: ""
                district: Chennai
                city: Chennai
                state: Tamil Nadu
                pincode: "600040"
                country: India
              professionalDetails:
                companyName: ArchidTech
                designation: Founder
                department: IoT
              avatarUrl: ""
      responses:
        "200":
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProfileResponse"
        "400":
          description: Invalid profile update request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Email or mobile number already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/users:
    get:
      tags:
        - Users
      summary: List users
      description: >
        Lists platform users. This endpoint is currently restricted to super_admin users.
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: page
          required: false
          schema:
            type: integer
            example: 1
          description: Page number
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            example: 20
          description: Number of users per page. Maximum allowed is 100.
        - in: query
          name: role
          required: false
          schema:
            $ref: "#/components/schemas/UserRole"
          description: Filter users by role
        - in: query
          name: accountStatus
          required: false
          schema:
            $ref: "#/components/schemas/UserAccountStatus"
          description: Filter users by account status
        - in: query
          name: q
          required: false
          schema:
            type: string
            example: suresh
          description: Search by name, mobile, email, profile name, phone, or company name
      responses:
        "200":
          description: Users fetched successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserListResponse"
        "400":
          description: Invalid filter query
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden. Only super_admin can access this endpoint.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/users/{userId}:
    get:
      tags:
        - Users
      summary: Get user by ID
      description: Fetches one user by MongoDB ObjectId. This endpoint is restricted to super_admin users.
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: string
            example: 65f1234567890abcdef12345
      responses:
        "200":
          description: User fetched successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProfileResponse"
        "400":
          description: Invalid user ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden. Only super_admin can access this endpoint.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/users/{userId}/verify:
    patch:
      tags:
        - Users
      summary: Verify or unverify user
      description: >
        Verifies or removes verification for a user profile.
        If isVerified is not sent, the system treats it as true.
        This endpoint is restricted to super_admin users.
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: string
            example: 65f1234567890abcdef12345
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyUserRequest"
            example:
              isVerified: true
      responses:
        "200":
          description: User verification updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProfileResponse"
        "400":
          description: Invalid user ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden. Only super_admin can access this endpoint.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/users/{userId}/role:
    patch:
      tags:
        - Users
      summary: Update user role
      description: >
        Updates a user's role. This endpoint is restricted to super_admin users.
        A super_admin cannot change their own role from this endpoint.
        The system also protects against removing the last remaining super_admin.
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: string
            example: 65f1234567890abcdef12345
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRoleRequest"
            example:
              role: customer_control_user
      responses:
        "200":
          description: User role updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProfileResponse"
        "400":
          description: Invalid role, invalid user ID, or protected action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden. Only super_admin can access this endpoint.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/users/{userId}/status:
    patch:
      tags:
        - Users
      summary: Update user account status
      description: >
        Updates a user's account status. This endpoint is restricted to super_admin users.
        A super_admin cannot change their own status from this endpoint.
        The system also protects against disabling or blocking the last remaining super_admin.
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: string
            example: 65f1234567890abcdef12345
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserStatusRequest"
            example:
              accountStatus: active
      responses:
        "200":
          description: User status updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProfileResponse"
        "400":
          description: Invalid account status, invalid user ID, or protected action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden. Only super_admin can access this endpoint.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/companies:
    post:
      tags:
        - Companies
      summary: Create company
      description: >
        Creates a customer company. This endpoint is restricted to super_admin.
        Company code is unique and stored in uppercase.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCompanyRequest"
            example:
              name: Archid Demo Customer Pvt Ltd
              code: ARCHID-DEMO
              email: admin@archiddemo.com
              phone:
                countryCode: "+91"
                number: "9876543210"
              address:
                addressLine1: Demo Tech Park
                addressLine2: ""
                district: Chennai
                city: Chennai
                state: Tamil Nadu
                pincode: "600040"
                country: India
              status: active
              notes: Demo company created during Phase 04 testing
      responses:
        "201":
          description: Company created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyResponse"
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden. Only super_admin can create company.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Company code already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      tags:
        - Companies
      summary: List companies
      description: >
        Lists companies. super_admin can view all companies.
        Customer users can view only their assigned company.
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: page
          required: false
          schema:
            type: integer
            example: 1
          description: Page number
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            example: 20
          description: Number of companies per page. Maximum allowed is 100.
        - in: query
          name: status
          required: false
          schema:
            $ref: "#/components/schemas/CompanyStatus"
          description: Filter companies by status
        - in: query
          name: q
          required: false
          schema:
            type: string
            example: demo
          description: Search by company name, code, email, phone, city, or state
      responses:
        "200":
          description: Companies fetched successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyListResponse"
        "400":
          description: Invalid filter query
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/companies/{companyId}:
    get:
      tags:
        - Companies
      summary: Get company by ID
      description: >
        Fetches one company by MongoDB ObjectId. super_admin can access any company.
        Customer users can access only their assigned company.
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: companyId
          required: true
          schema:
            type: string
            example: 65f1234567890abcdef12345
      responses:
        "200":
          description: Company fetched successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyResponse"
        "400":
          description: Invalid company ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden. User cannot access this company.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Company not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    patch:
      tags:
        - Companies
      summary: Update company
      description: Updates company details. This endpoint is restricted to super_admin.
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: companyId
          required: true
          schema:
            type: string
            example: 65f1234567890abcdef12345
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCompanyRequest"
            example:
              name: Archid Demo Customer Pvt Ltd
              status: active
              notes: Updated from Phase 04 API testing
      responses:
        "200":
          description: Company updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyResponse"
        "400":
          description: Validation failed or invalid company ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden. Only super_admin can update company.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Company not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Company code already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/companies/{companyId}/assign-user:
    patch:
      tags:
        - Companies
      summary: Assign user to company
      description: >
        Assigns an existing non-super-admin user to a company.
        Optional role can be sent to set the customer's role.
        This endpoint is restricted to super_admin.
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: companyId
          required: true
          schema:
            type: string
            example: 65f1234567890abcdef12345
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssignUserToCompanyRequest"
            example:
              userId: 65f1234567890abcdef12345
              role: customer_admin
      responses:
        "200":
          description: User assigned to company successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthUserResponse"
        "400":
          description: Invalid user ID, invalid company ID, or protected role assignment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden. Only super_admin can assign users to company.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Company or user not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/sites:
    post:
      tags:
        - Sites
      summary: Create site
      description: >
        Creates a site under a company. super_admin must send company ID.
        customer_admin can create a site only under their assigned company.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSiteRequest"
            example:
              company: 65f1234567890abcdef12345
              name: Chennai Main Site
              code: CHN-MAIN
              siteType: office
              contactPerson:
                name: Site Manager
                email: site@archiddemo.com
                phone: "9876543210"
              address:
                addressLine1: Demo Site Address
                addressLine2: ""
                district: Chennai
                city: Chennai
                state: Tamil Nadu
                pincode: "600040"
                country: India
              location:
                latitude: 13.0827
                longitude: 80.2707
              timezone: Asia/Kolkata
              status: active
              notes: Demo site created during Phase 04 testing
      responses:
        "201":
          description: Site created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SiteResponse"
        "400":
          description: Validation failed or company is required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden. Only super_admin or customer_admin can create sites.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Company not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Site code already exists for this company
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      tags:
        - Sites
      summary: List sites
      description: >
        Lists sites. super_admin can list all sites or filter by company.
        Customer users can list only sites under their assigned company.
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: page
          required: false
          schema:
            type: integer
            example: 1
          description: Page number
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            example: 20
          description: Number of sites per page. Maximum allowed is 100.
        - in: query
          name: company
          required: false
          schema:
            type: string
            example: 65f1234567890abcdef12345
          description: Filter sites by company ID. Mainly for super_admin.
        - in: query
          name: status
          required: false
          schema:
            $ref: "#/components/schemas/SiteStatus"
          description: Filter sites by status
        - in: query
          name: q
          required: false
          schema:
            type: string
            example: chennai
          description: Search by site name, code, type, contact person, city, or state
      responses:
        "200":
          description: Sites fetched successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SiteListResponse"
        "400":
          description: Invalid filter query
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/sites/{siteId}:
    get:
      tags:
        - Sites
      summary: Get site by ID
      description: >
        Fetches one site by MongoDB ObjectId. super_admin can access any site.
        Customer users can access only sites under their assigned company.
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: siteId
          required: true
          schema:
            type: string
            example: 65f1234567890abcdef12345
      responses:
        "200":
          description: Site fetched successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SiteResponse"
        "400":
          description: Invalid site ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden. User cannot access this site.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Site not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    patch:
      tags:
        - Sites
      summary: Update site
      description: >
        Updates site details. super_admin can update any site.
        customer_admin can update only sites under their assigned company.
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: siteId
          required: true
          schema:
            type: string
            example: 65f1234567890abcdef12345
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSiteRequest"
            example:
              name: Chennai Main Site
              status: active
              notes: Updated from Phase 04 API testing
      responses:
        "200":
          description: Site updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SiteResponse"
        "400":
          description: Validation failed or invalid site ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden. User cannot update this site.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Site or company not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Site code already exists for this company
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Enter JWT token as Bearer token.

  schemas:
    HealthResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: Server is healthy
        data:
          type: object
          properties:
            appName:
              type: string
              example: Archid Flow Server V4
            appCode:
              type: string
              example: archid-flow
            environment:
              type: string
              example: development
            apiVersion:
              type: string
              example: v1
            timestamp:
              type: string
              example: "2026-05-10T10:00:00.000Z"

    SignupRequest:
      type: object
      required:
        - name
        - mobile
        - email
        - password
        - confirmPassword
      properties:
        name:
          type: string
          example: Suresh
        mobile:
          type: string
          example: "9962577674"
        email:
          type: string
          format: email
          example: suresh@example.com
        password:
          type: string
          format: password
          example: "123456"
        confirmPassword:
          type: string
          format: password
          example: "123456"

    LoginRequest:
      type: object
      required:
        - identifier
        - password
      properties:
        identifier:
          type: string
          example: suresh@example.com
          description: Email or mobile number
        password:
          type: string
          format: password
          example: "123456"

    UserRole:
      type: string
      description: >
        User role in the Archid Flow platform.
        super_admin is ArchidTech/platform admin.
        customer_admin is the device owner or customer admin.
        customer_control_user can control assigned or shared devices.
        customer_view_user can only view assigned or shared device status.
      enum:
        - super_admin
        - customer_admin
        - customer_control_user
        - customer_view_user
      example: customer_admin

    UserAccountStatus:
      type: string
      description: User account status.
      enum:
        - active
        - inactive
        - blocked
      example: active

    CompanyStatus:
      type: string
      description: Company account status.
      enum:
        - active
        - inactive
        - blocked
      example: active

    SiteStatus:
      type: string
      description: Site status.
      enum:
        - active
        - inactive
      example: active

    SiteType:
      type: string
      description: Type/category of customer site.
      enum:
        - office
        - parking
        - factory
        - warehouse
        - residential
        - mall
        - hospital
        - hotel
        - other
      example: office

    ProfilePhone:
      type: object
      properties:
        countryCode:
          type: string
          example: "+91"
        number:
          type: string
          example: "9962577674"

    ProfileAddress:
      type: object
      properties:
        addressLine1:
          type: string
          example: Anna Nagar
        addressLine2:
          type: string
          example: ""
        district:
          type: string
          example: Chennai
        city:
          type: string
          example: Chennai
        state:
          type: string
          example: Tamil Nadu
        pincode:
          type: string
          example: "600040"
        country:
          type: string
          example: India

    ProfessionalDetails:
      type: object
      properties:
        companyName:
          type: string
          example: ArchidTech
        designation:
          type: string
          example: Founder
        department:
          type: string
          example: IoT

    UserProfile:
      type: object
      properties:
        firstName:
          type: string
          example: Suresh
        lastName:
          type: string
          example: Babu
        email:
          type: string
          format: email
          example: suresh@example.com
        phone:
          $ref: "#/components/schemas/ProfilePhone"
        address:
          $ref: "#/components/schemas/ProfileAddress"
        professionalDetails:
          $ref: "#/components/schemas/ProfessionalDetails"
        avatarUrl:
          type: string
          example: ""
        isVerified:
          type: boolean
          example: false
        verifiedBy:
          type: string
          nullable: true
          example: null
        verifiedAt:
          type: string
          format: date-time
          nullable: true
          example: null

    User:
      type: object
      properties:
        _id:
          type: string
          example: 65f1234567890abcdef12345
        name:
          type: string
          example: Suresh Babu
        mobile:
          type: string
          example: "9962577674"
        email:
          type: string
          format: email
          example: suresh@example.com
        role:
          $ref: "#/components/schemas/UserRole"
        accountStatus:
          $ref: "#/components/schemas/UserAccountStatus"
        profile:
          $ref: "#/components/schemas/UserProfile"
        company:
          type: string
          nullable: true
          example: 65f1234567890abcdef12345
        lastLoginAt:
          type: string
          format: date-time
          nullable: true
          example: "2026-05-10T10:00:00.000Z"
        createdAt:
          type: string
          format: date-time
          example: "2026-05-10T10:00:00.000Z"
        updatedAt:
          type: string
          format: date-time
          example: "2026-05-10T10:00:00.000Z"

    AuthUserResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: User registered successfully
        data:
          type: object
          properties:
            user:
              $ref: "#/components/schemas/User"

    LoginResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: Login successful
        data:
          type: object
          properties:
            token:
              type: string
              example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
            user:
              $ref: "#/components/schemas/User"

    ProfileResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: Profile fetched successfully
        data:
          type: object
          properties:
            user:
              $ref: "#/components/schemas/User"

    UserListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: Users fetched successfully
        data:
          type: object
          properties:
            page:
              type: integer
              example: 1
            limit:
              type: integer
              example: 20
            total:
              type: integer
              example: 100
            totalPages:
              type: integer
              example: 5
            users:
              type: array
              items:
                $ref: "#/components/schemas/User"

    ProfileUpdateRequest:
      type: object
      properties:
        name:
          type: string
          example: Suresh Babu
        firstName:
          type: string
          example: Suresh
        lastName:
          type: string
          example: Babu
        email:
          type: string
          format: email
          example: suresh@example.com
        mobile:
          type: string
          example: "9962577674"
        phone:
          $ref: "#/components/schemas/ProfilePhone"
        address:
          $ref: "#/components/schemas/ProfileAddress"
        professionalDetails:
          $ref: "#/components/schemas/ProfessionalDetails"
        avatarUrl:
          type: string
          example: ""

    VerifyUserRequest:
      type: object
      properties:
        isVerified:
          type: boolean
          example: true

    UpdateUserRoleRequest:
      type: object
      required:
        - role
      properties:
        role:
          $ref: "#/components/schemas/UserRole"

    UpdateUserStatusRequest:
      type: object
      required:
        - accountStatus
      properties:
        accountStatus:
          $ref: "#/components/schemas/UserAccountStatus"

    CompanyPhone:
      type: object
      properties:
        countryCode:
          type: string
          example: "+91"
        number:
          type: string
          example: "9876543210"

    CompanyAddress:
      type: object
      properties:
        addressLine1:
          type: string
          example: Demo Tech Park
        addressLine2:
          type: string
          example: ""
        district:
          type: string
          example: Chennai
        city:
          type: string
          example: Chennai
        state:
          type: string
          example: Tamil Nadu
        pincode:
          type: string
          example: "600040"
        country:
          type: string
          example: India

    Company:
      type: object
      properties:
        _id:
          type: string
          example: 65f1234567890abcdef12345
        name:
          type: string
          example: Archid Demo Customer Pvt Ltd
        code:
          type: string
          example: ARCHID-DEMO
        email:
          type: string
          format: email
          example: admin@archiddemo.com
        phone:
          $ref: "#/components/schemas/CompanyPhone"
        address:
          $ref: "#/components/schemas/CompanyAddress"
        status:
          $ref: "#/components/schemas/CompanyStatus"
        notes:
          type: string
          example: Demo company
        createdBy:
          type: string
          nullable: true
          example: 65f1234567890abcdef12345
        updatedBy:
          type: string
          nullable: true
          example: 65f1234567890abcdef12345
        createdAt:
          type: string
          format: date-time
          example: "2026-05-10T10:00:00.000Z"
        updatedAt:
          type: string
          format: date-time
          example: "2026-05-10T10:00:00.000Z"

    CompanySummary:
      type: object
      properties:
        _id:
          type: string
          example: 65f1234567890abcdef12345
        name:
          type: string
          example: Archid Demo Customer Pvt Ltd
        code:
          type: string
          example: ARCHID-DEMO
        status:
          $ref: "#/components/schemas/CompanyStatus"

    CreateCompanyRequest:
      type: object
      required:
        - name
        - code
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 120
          example: Archid Demo Customer Pvt Ltd
        code:
          type: string
          minLength: 2
          maxLength: 40
          example: ARCHID-DEMO
        email:
          type: string
          format: email
          example: admin@archiddemo.com
        phone:
          $ref: "#/components/schemas/CompanyPhone"
        address:
          $ref: "#/components/schemas/CompanyAddress"
        status:
          $ref: "#/components/schemas/CompanyStatus"
        notes:
          type: string
          example: Demo company created during Phase 04 testing

    UpdateCompanyRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 120
          example: Archid Demo Customer Pvt Ltd
        code:
          type: string
          minLength: 2
          maxLength: 40
          example: ARCHID-DEMO
        email:
          type: string
          format: email
          example: admin@archiddemo.com
        phone:
          $ref: "#/components/schemas/CompanyPhone"
        address:
          $ref: "#/components/schemas/CompanyAddress"
        status:
          $ref: "#/components/schemas/CompanyStatus"
        notes:
          type: string
          example: Updated company notes

    AssignUserToCompanyRequest:
      type: object
      required:
        - userId
      properties:
        userId:
          type: string
          example: 65f1234567890abcdef12345
        role:
          type: string
          enum:
            - customer_admin
            - customer_control_user
            - customer_view_user
          example: customer_admin

    CompanyResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: Company fetched successfully
        data:
          type: object
          properties:
            company:
              $ref: "#/components/schemas/Company"

    CompanyListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: Companies fetched successfully
        data:
          type: object
          properties:
            page:
              type: integer
              example: 1
            limit:
              type: integer
              example: 20
            total:
              type: integer
              example: 10
            totalPages:
              type: integer
              example: 1
            companies:
              type: array
              items:
                $ref: "#/components/schemas/Company"

    SiteContactPerson:
      type: object
      properties:
        name:
          type: string
          example: Site Manager
        email:
          type: string
          format: email
          example: site@archiddemo.com
        phone:
          type: string
          example: "9876543210"

    SiteAddress:
      type: object
      properties:
        addressLine1:
          type: string
          example: Demo Site Address
        addressLine2:
          type: string
          example: ""
        district:
          type: string
          example: Chennai
        city:
          type: string
          example: Chennai
        state:
          type: string
          example: Tamil Nadu
        pincode:
          type: string
          example: "600040"
        country:
          type: string
          example: India

    SiteLocation:
      type: object
      properties:
        latitude:
          type: number
          nullable: true
          example: 13.0827
        longitude:
          type: number
          nullable: true
          example: 80.2707

    Site:
      type: object
      properties:
        _id:
          type: string
          example: 65f1234567890abcdef12345
        company:
          oneOf:
            - type: string
              example: 65f1234567890abcdef12345
            - $ref: "#/components/schemas/CompanySummary"
        name:
          type: string
          example: Chennai Main Site
        code:
          type: string
          example: CHN-MAIN
        siteType:
          $ref: "#/components/schemas/SiteType"
        contactPerson:
          $ref: "#/components/schemas/SiteContactPerson"
        address:
          $ref: "#/components/schemas/SiteAddress"
        location:
          $ref: "#/components/schemas/SiteLocation"
        timezone:
          type: string
          example: Asia/Kolkata
        status:
          $ref: "#/components/schemas/SiteStatus"
        notes:
          type: string
          example: Demo site
        createdBy:
          type: string
          nullable: true
          example: 65f1234567890abcdef12345
        updatedBy:
          type: string
          nullable: true
          example: 65f1234567890abcdef12345
        createdAt:
          type: string
          format: date-time
          example: "2026-05-10T10:00:00.000Z"
        updatedAt:
          type: string
          format: date-time
          example: "2026-05-10T10:00:00.000Z"

    CreateSiteRequest:
      type: object
      required:
        - name
        - code
      properties:
        company:
          type: string
          description: Required for super_admin. For customer_admin, assigned company is used automatically.
          example: 65f1234567890abcdef12345
        name:
          type: string
          minLength: 2
          maxLength: 120
          example: Chennai Main Site
        code:
          type: string
          minLength: 2
          maxLength: 40
          example: CHN-MAIN
        siteType:
          $ref: "#/components/schemas/SiteType"
        contactPerson:
          $ref: "#/components/schemas/SiteContactPerson"
        address:
          $ref: "#/components/schemas/SiteAddress"
        location:
          $ref: "#/components/schemas/SiteLocation"
        timezone:
          type: string
          example: Asia/Kolkata
        status:
          $ref: "#/components/schemas/SiteStatus"
        notes:
          type: string
          example: Demo site created during Phase 04 testing

    UpdateSiteRequest:
      type: object
      properties:
        company:
          type: string
          description: Only super_admin can move a site to another company.
          example: 65f1234567890abcdef12345
        name:
          type: string
          minLength: 2
          maxLength: 120
          example: Chennai Main Site
        code:
          type: string
          minLength: 2
          maxLength: 40
          example: CHN-MAIN
        siteType:
          $ref: "#/components/schemas/SiteType"
        contactPerson:
          $ref: "#/components/schemas/SiteContactPerson"
        address:
          $ref: "#/components/schemas/SiteAddress"
        location:
          $ref: "#/components/schemas/SiteLocation"
        timezone:
          type: string
          example: Asia/Kolkata
        status:
          $ref: "#/components/schemas/SiteStatus"
        notes:
          type: string
          example: Updated site notes

    SiteResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: Site fetched successfully
        data:
          type: object
          properties:
            site:
              $ref: "#/components/schemas/Site"

    SiteListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: Sites fetched successfully
        data:
          type: object
          properties:
            page:
              type: integer
              example: 1
            limit:
              type: integer
              example: 20
            total:
              type: integer
              example: 10
            totalPages:
              type: integer
              example: 1
            sites:
              type: array
              items:
                $ref: "#/components/schemas/Site"

    ValidationErrorItem:
      type: object
      properties:
        field:
          type: string
          example: email
        message:
          type: string
          example: Valid email is required

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: Validation failed
        errors:
          type: array
          items:
            $ref: "#/components/schemas/ValidationErrorItem"
